# Claude-related files.
.claude/*.lock
.claude/settings.local*

.env.example
.plume-scripts
**/*__pycache__

# Files generated for/by CBMC.
**/*goto
*-cbmc-runs.jsonl

# Mutation-testing related files
**/*mutation_compile_failures.log

# C files (no top-level C files; create a directory for them.)
/*.c

# JSON files.
*.json

# Other
avocado-experimental-runs
