.claude/settings.local*
.env.example
.plume-scripts
**/*__pycache__

# Files generated for/by CBMC
**/*goto
*-cbmc-runs.jsonl

# C files (no top-level C files; create a directory for them.)
*.c

# JSON files.
*.json
